<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>あ_1_1.png</string>
	<string>あ_1_2.png</string>
	<string>あ_1_3.png</string>
	<string>あ_2_1.png</string>
	<string>あ_2_2.png</string>
	<string>あ_2_3.png</string>
	<string>い_1_1.png</string>
	<string>い_1_2.png</string>
	<string>い_1_3.png</string>
	<string>い_2_1.png</string>
	<string>い_2_2.png</string>
	<string>い_2_3.png</string>
</array>
</plist>
